@page
@model IndexModel
@{
    ViewData["Title"] = "Webapp To IBM Code Engine";
}

<div class="text-center">
<h1 class="display-4">Webapp To IBM Code Engine</h1>
</div>
<p>This is a sample ASP.NET Core application pushed to a GitHub repository
   	and deployed as an IBM Cloud Code Engine application. This is just a sample,
   	I intend to create multiple sites after I have this working. Currently I am
   	working on using Cloudflare for the DNS so I can have the root/apex/naked
   	domain name as well as the www subdomain. The domain to be used for testing
   	purposes is whatversam.com.</p>
<p>IBM describes their Cloud Code Engine hosting as being serverless
	but this shows it supports an ASP.NET Core website.</p>
<p>The following are notes, for at least me.</p>
<p>The project was created using <code>dotnet new Webapp</code>.</p>
<p>I created the Cloud Engine project and application by going to my IBM Cloud
	Dashboard then going to Code Engine then under <i>Start with source code</i>
	I clicked <i>Start creating</i>. With the <i>Application</i> box selected I
	supplied a name then clicked on <i>Create project</i> and then I created a
	project. Then under <i>Choose the code to run</i> I supplied a repository
	then clicked <i>Specify build details</i>. I filled in the branch name and
	kept the other defaults then clicked <i>Next</i>. In the next page I
	clicked the radio button for <i>Cloud Native Buildpack</i> then clicked
	<i>Next</i>. I entered a namespace and repository (image name) then clicked
	<i>Done</i>.</p>  
<p>The article <a href="https://www.ibm.com/cloud/blog/configuring-a-custom-domain-for-your-ibm-cloud-code-engine-application">
	Configuring a Custom Domain for Your IBM Cloud Code Engine Application</a>
	is about how how to do that.</p>
 