@page
@model IndexModel
@{
    ViewData["Title"] = "Webapp To IBM Code Engine";
}

<div class="text-center">
<h1 class="display-4">Webapp To IBM Code Engine</h1>
<p>This is a sample ASP.NET Core application pushed to a GitHub repository
   	and deployed as an IBM Cloud Code Engine application.</p>
</div>
